:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-shadow: 0px 0px 1px black;
    color: transparent;
    user-select: none;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    background-repeat: no-repeat;
}

input[name="numeric-input"] {
    outline: 1px solid rgb(0, 0, 0);
    background: transparent;
    box-shadow: 0px 0px 2px black;
    border: none;
    border-radius: 5px;
    padding: 5px;
    text-align: end;
    font-size: medium;
    font-weight: bolder;
}

.container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container>section {
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container>section>span {
    background-color: rgba(0, 0, 0, 0.842);
    outline: 1px solid rgb(0, 0, 0);
    padding: 2px;
    color: whitesmoke;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}